<% layout("/layouts/boilerplate") %>
    <div class="row mt-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">
                <%= message %>
            </h4>
            <% if (statusCode) { %>
            <p>
                Status code: <%= statusCode %>
            </p>
            <% } %>
            <% if (err && err.stack && statusCode !== 404) { %>
            <pre><%= err.stack %></pre>
            <% } %>

        </div>
    </div>